@{
    ViewData["Title"] = "List Employees";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHalpers
@model Artsofte.DTO.EmployeeDTO

<div class="text-center">
    <center><h1>A list of employees</h1></center>

    <a href="/add">ADD</a>
    <center>
        Name <input id="inputName" type="text" asp-for="Name" placeholder="@Model.Name" />
        <br />
        Surname
        <input type="text" asp-for="Surname" placeholder="@Model.Surname" />
        <br />
        Age
        <input type="text" asp-for="Age" placeholder="@Model.Age" />
        <br />
        Departament
        <input type="text" asp-for="Departament" placeholder="@Model.Departament" />
        <br />

    </center>
</div>

